*{
    margin: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 2.5vw;
}
header{
    background-image: url(../img/detectiveFumeur.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}
a{
    color: aliceblue;
}
.titre{
    color: aliceblue;
}
.tel{
    color: aliceblue;
    font-style: italic;
}
.email{
    color: aliceblue;
    font-style: italic;
}
.haut{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4vw;
}
footer{
    display: flex;
    justify-content: space-around;
    background-color: black;
    align-items: center;
    height: 8vw;
}
.footerContact{
    color: aliceblue;
}
.rdv{
    color: aliceblue;
}
.titre2{
    height: 4.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sousTitre{
    height: 2.5vw;
    display: flex;
    justify-content: center;
}
.para{
    display: flex;
    justify-content: center;
}
.para1{
    text-align: center;
    width: 60%;
    height: 5vw;
}
.para2{
    text-align: center;
    width: 60%;
    height: 4vw;
}
.para4{
    display: flex;
    justify-content: center;
}
.bouton1{
    background-color: black;
    width: fit-content;
    padding: 10px;
    margin: 0 auto;
    border-radius: 10px;
}
.bouton1 a{
    color: aliceblue;
    text-decoration: none;
}
.bouton2{
    background-color: black;
    width: fit-content;
    padding: 10px;
    margin: 0 auto;
    border-radius: 10px;
}
.bouton2 a{
    color: aliceblue;
    text-decoration: none;
}
.formation{
    display: flex;
    justify-content: center;
    align-items: center;
}
.formation2{
    text-align: center;
    width: 60%;
    height: 2vw;
    margin: 15px;
}
.faq{
    color: black;
}